---
import LayoutNoBarra from "../layouts/LayoutNoBarra.astro"
import Techo from "../components/Techo.astro"
import PieArticulo from "../components/PieArticulo.astro"
---

<LayoutNoBarra>
    <Techo/>

<div class="fotos">
    <swiper-container class="mySwiper" loop="true"
autoplay='{"delay": 3000, "disableOnInteraction": true}' effect="fade" 
crossfade="true">

    <swiper-slide>
        
        <div class="portada">
            <img src="../aki1.jpg" alt="Imagen 1 del carrusel">
        </div>
    </swiper-slide>

    <swiper-slide>
        
        <div class="portada">
            <img src="../aki2.jpg" alt="Imagen 2 del carrusel">
        </div>
    </swiper-slide>

    <swiper-slide>
        
        <div class="portada">
            <img src="../aki3.jpg" alt="Imagen 3 del carrusel">
        </div>
    </swiper-slide>

    <swiper-slide>
        
        <div class="portada">
            <img src="../aki4.jpg" alt="Imagen 4 del carrusel">
        </div>
    </swiper-slide>

    <swiper-slide>
        
        <div class="portada">
            <img src="../aki5.jpg" alt="Imagen 5 del carrusel">
        </div>
    </swiper-slide>
    
  </swiper-container>
</div>
<div class="contenedor-articulo">
    
    <div class="seccion-principal">

        <h1 class="titulo-principal-seccion">
            Akihabara: El Distrito de la Electrónica y el Corazón Otaku de Japón
        </h1>

        <p>
            Akihabara, también llamado Akiba por un antiguo santuario local, es un distrito en el centro de Tokio famoso por sus numerosas tiendas de electrónica. Además, ha ganado amplio reconocimiento como el centro de la cultura otaku (fanático acérrimo) de Japón. Muchas tiendas y establecimientos dedicados al anime y al manga se encuentran dispersos entre las tiendas de electrónica del distrito. Los domingos, Chuo Dori, la calle principal del distrito, está cerrada al tráfico de automóviles desde las 13:00 hasta las 18:00 (hasta las 17:00 de octubre a marzo).
        </p>

       
    </div>

    <div class="seccion-bloque-articulo">
        <h2 class="titulo-seccion-secundaria">
            El Patio del Recreo de la Cultura Geek
        </h2>
        
        <div class="bloque-contenido-imagen">
            <div class="bloque-texto">
                
                <p>
                    Las subculturas obsesionadas con los juegos, el manga, el coleccionismo de figuras y el anime que constituyen la cultura otaku tienen sus raíces firmemente plantadas en Akihabara. Entre las numerosas tiendas de componentes electrónicos se encuentran santuarios dedicados a obsesiones individuales. Akihabara Radio Kaikan y Akiba Cultures Zone, por ejemplo, albergan muchas tiendas dedicadas al anime, el manga y los juegos.
                </p>
                
                <p>
                    Las icónicas salas de juegos de Akihabara han sido rebautizadas como GiGO, pero siguen ofreciendo un paraíso para los jugadores con múltiples pisos de entretenimiento. Cuando necesites un descanso, puedes continuar tu experiencia otaku visitando uno de los muchos cafés temáticos de Akihabara.
                </p>

                <p>
                    Las calles del distrito están repletas de iconos del anime y el manga, y los cosplayers se alinean en las aceras repartiendo anuncios, especialmente de maid cafés. Los eventos de lanzamiento, eventos especiales y las convenciones son comunes en Akihabara. Un detalle arquitectónico interesante es que los arquitectos diseñan las tiendas de Akihabara para que sean opacas y cerradas, con el fin de reflejar el deseo de muchos otaku de vivir en sus mundos de anime en lugar de exhibir abiertamente sus intereses.
                </p>
           
            </div>
            
            <div class="bloque-imagen">
                <img src="../akihabara1.jpg" alt="" /> 
            </div>
        </div>
        
    </div>

    <div class="seccion-bloque-articulo">
        
        <h2 class="titulo-seccion-secundaria">
            Salas de Juegos y GiGO: El Paraíso del Arcade
        </h2>
       
        <p>
            Akihabara comenzó su existencia como centro de actividad del mercado negro de posguerra y luego se convirtió en el escaparate de la tecnología japonesa, repleta de tiendas que vendían todo tipo de productos electrónicos y de TI al mundo. Más recientemente, también se ha convertido en el hogar cultural de los fanáticos acérrimos de los juegos, el manga y el anime: los otakus. La zona es un templo urbano para los adoradores de las subculturas japonesas, con ídolos del pop y cosplayers. Pasear por las avenidas de Akihabara es vivir una experiencia cultural única.
        </p>

        <p>
            Akihabara ha experimentado una cierta remodelación en los últimos años, que ha añadido algunos edificios grandes y modernos a la mezcla de tiendas y edificios de tamaño pequeño y mediano que ya existían.
        </p>

        <p>
            La zona principal de Akihabara se encuentra en una calle justo al oeste de la estación de Akihabara. Hay un distrito administrativo llamado Akihabara al norte de Akihabara Electric Town que rodea el parque Neribei de Akihabara. Este distrito es parte del barrio de Taitō. Akihabara estuvo una vez cerca de una puerta de la ciudad de Edo y sirvió como un paso entre la ciudad y el noroeste de Japón. Esto hizo que la región fuera el hogar de muchos artesanos y comerciantes, así como de algunos samuráis de clase baja.
        </p>

        <p>
            Uno de los frecuentes incendios de Tokio destruyó el área en 1869, y la gente decidió reemplazar los edificios del área con un santuario llamado Chinkasha, en un intento de prevenir la propagación de futuros incendios. Los lugareños apodaron al santuario Akiba en honor a la deidad que podía controlar el fuego, y el área a su alrededor pasó a conocerse como Akibagahara, que más tarde se simplificó a Akihabara.
        </p>
        
        <div class="bloque-imagen-full">
            <img src="../akihabara2.jpg" alt="" /> 
        </div>
    </div>

    <div class="contenedor-caja-roja">
        <div class="caja-info-roja">
            
            <h2 class="titulo-caja-roja">¿CÓMO LLEGAR?</h2>
            
            <p>
                Puedes llegar fácilmente a la Estación de Akihabara utilizando la línea JR Yamanote, la línea Keihin-Tohoku, la línea Sobu, la línea Hibiya del metro de Tokio o con el Tsukuba Express.
            </p>
        
        </div>
    </div>
    
    <div class="contenedor-pie-articulo">
        
        <p>
            Akihabara es la intersección electrizante de la fantasía y el hardware; un santuario moderno donde cada edificio y cada neón nos recuerdan que el futuro digital de Japón late al ritmo frenético del anime y la imaginación sin límites.
        </p>
    
    </div>

</div>
<PieArticulo />
</LayoutNoBarra>


<style>

#fotos{
    padding-top: 50%;
    grid-column: 1/8;
}

swiper-container {
    width: 100%;
    height: 400px;
}

swiper-slide {
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper swiper-slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.mySwiper swiper-slide-active {
    opacity: 1;
}


.portada {
    grid-column: 1/13;
    grid-row: 1/13;
}


.contenedor-articulo {
    font-family: Verdana, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}


.titulo-principal-seccion {
    font-size: 40px;
    color: #cc0000;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.titulo-seccion-secundaria {
    font-size: 30px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}



.seccion-principal p, .bloque-texto p, .pie-seccion, .seccion-bloque-articulo p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #000000;
}


.bloque-contenido-imagen {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.bloque-texto {
    flex: 1;
}

.bloque-imagen {
    flex-basis: 350px;
    flex-shrink: 0;
}

.bloque-imagen img {
    width: 100%;
    height: auto;
    display: block;
}

.pie-seccion {
    font-style: italic;
    font-size: 0.9em;
    padding-bottom: 20px;
    border-bottom: 1px solid #c41616;
}



.bloque-imagen-full img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 15px;
}



.contenedor-caja-roja {
    
    margin-right: -111px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #cc0000;
    padding: 20px;
    text-align: center;
    border-style: dotted;
    border-top-left-radius: 40px; 
    border-bottom-left-radius: 40px;
}

.caja-info-roja {
    color: white;
}

.titulo-caja-roja {
    font-size: 35px;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

.caja-info-roja p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}


.contenedor-pie-articulo {
    text-align: center;
    padding: 30px 0;
}

.contenedor-pie-articulo p {
    font-size: 1.1em;
    font-style: italic;
    color: #000000;
}

</style>