---
import LayoutNoBarra from "../layouts/LayoutNoBarra.astro"
import Techo from "../components/Techo.astro"
import PieArticulo from "../components/PieArticulo.astro"
---

<LayoutNoBarra>
	<Techo/>
<div class="fotos">
	<swiper-container class="mySwiper" loop="true"
autoplay='{"delay": 3000, "disableOnInteraction": true}' effect="fade" 
crossfade="true">

    <swiper-slide>
        

        <div class="portada">
            <img src="../ventura1.jpg" alt="">
        </div>
    </swiper-slide>

    <swiper-slide>
          

        <div class="portada">
            <img src="../ventura2.jpg" alt="">
        </div>
    </swiper-slide>

    <swiper-slide>
         

        <div class="portada">
            <img src="../ventura3.jpg" alt="">
        </div>
    </swiper-slide>

	<swiper-slide>
         

        <div class="portada">
            <img src="../ventura4.jpg" alt="">
        </div>
    </swiper-slide>

	<swiper-slide>
         

        <div class="portada">
            <img src="../ventura5.jpg" alt="">
        </div>
    </swiper-slide>
    
  </swiper-container>
  </div>


    <div class="contenerarticulo">
        <section id="introduccion">
            <h1>Japón Salvaje: Más Allá de Tokio, Una Guía Definitiva de Aventura</h1>
            <p>
                Japón, la tierra del sol naciente, es una dicotomía fascinante: un centro de innovación tecnológica que se asienta sobre una de las geografías más jóvenes y dramáticas del mundo. Para el viajero que busca adrenalina y naturaleza virgen, el archipiélago se revela como un tesoro inesperado. Este no es el Japón de los cerezos y los templos; es el Japón de los picos nevados, las aguas termales secretas y las junglas subtropicales.
            </p>
        </section>

        <section class="secciontextoimagen">
            <div class="seccioncontenido">
                <h2>I. Dominando las Alturas: Los Alpes Japoneses</h2>
                <p>
                    La espina dorsal de Honshu, la isla principal, está formada por los imponentes Alpes Japoneses, divididos en tres rangos principales: Norte (Kita), Central (Chuo) y Sur (Minami). Estas montañas, a menudo cubiertas de nieve desde noviembre hasta mayo, ofrecen experiencias de montañismo de nivel mundial que rivalizan con las de Europa o América.
                </p>
                <h3>
                    Senderismo y Montañismo Extremo (Verano)
                </h3>
                <p>
                    Kamikochi (Alpes del Norte): Es la puerta de entrada más famosa, un valle alpino prístino conocido por el Río Azusa y el icónico Puente Kappa. Desde aquí, los montañistas se aventuran a picos legendarios como el Monte Yari (3.180 m), conocido por su cumbre en forma de lanza, y el Monte Hotaka, el tercero más alto de Japón. Las rutas son desafiantes, a menudo implican cadenas y escaleras fijas, pero las vistas del mar de nubes al amanecer son incomparables.
                </p>

                <h4>
                    El Santuario de la Nieve Profunda
                </h4>

                <p>
                    La aventura invernal se centra en Hokkaido, la isla norteña, y la región de Tohoku. El término "Japow" (Japanese Powder) se ha convertido en una leyenda entre esquiadores y snowboarders por la increíblemente seca y abundante nieve que cae constantemente.
                </p>

                <p>
                    Niseko, Hokkaido: Es el destino principal, famoso por su cultura backcountry accesible. Aquí, la aventura va más allá de las pistas marcadas, explorando bosques profundos y cuencas volcánicas. Las excursiones de esquí de travesía al volcán Mt. Yotei, conocido como el "Monte Fuji de Hokkaido", son el epítome de la aventura invernal.
                </p>
            </div>
            
            <div class="seccionimagen">
                <img src="../montaña2.jpg" alt="" />
            </div>
        </section>

       
        <section class="seccioncentrado">
         

            <div class="imagencentrada">
                <img src="../montaña3.jpg" alt="" />
            </div>
         
            <h2>II. El Contraste Azul: Los Secretos del Océano Pacífico</h2>
        </section>


        <section class="secciondoblecolumna">

            <div class="columnaizquierda">
                
                <p>
                    Japón está rodeado por miles de kilómetros de costa, con ecosistemas marinos que van desde las frías aguas del Mar de Japón hasta los arrecifes de coral tropicales cerca de Taiwán.
                </p>

                <h3>
                    Buceo y Exploración de Cuevas (Okinawa y Amami)
                </h3>

                <p>
                    Las Islas Yaeyama (Ishigaki, Iriomote) y el archipiélago de Kerama en Okinawa son el equivalente japonés del Caribe. La temperatura del agua permite el buceo durante todo el año.
                </p>

                <ul>
                    <li>
                        Yonaguni Jima: Famosa por la migración invernal de cientos de tiburones martillo y por la misteriosa "estructura submarina" que algunos creen que es una ruina antigua.
                    </li>
                    <li>
                        Isla Iriomote: El 90% de la isla es una densa jungla de manglares y hogar del esquivo gato de Iriomote. Aquí se puede practicar kayak de mar entre manglares y barranquismo por cascadas ocultas.
                    </li>
                </ul>

                <h4>
                    Surf en la Costa Este
                </h4>

                <p>
                    Aunque no es tan conocida como Australia o California, la costa oriental de Honshu, bañada por el Océano Pacífico, ofrece excelentes olas gracias a las corrientes. Lugares como Shonan (cerca de Tokio) o Miyazaki (Kyushu) son puntos calientes para el surf, ofreciendo una subcultura playera relajada que contrasta con el ritmo de las metrópolis.
                </p>
             
            </div>

            <div class="columnaderecha">
                <img src="../buceo.jpg" alt="" />
            </div>
        </section>
        

        <section class="seccioninferior">

            <div class="columnaizquierda">
                
                <h2>III. Adrenalina Terrestre: Del Cañón a la Bicicleta</h2>
                <p>
                    La compleja orografía de Japón, con sus valles profundos y ríos caudalosos, ha generado nichos de aventura terrestre.
                </p>
                
                    <h3>
                        Ciclismo Épico: La Ruta Shimanami Kaido
                    </h3>

                    <p>
                        Esta ruta es considerada una de las mejores del mundo para el ciclismo. Conecta la isla de Honshu con la isla de Shikoku a través de una serie de seis puentes colgantes que cruzan el Mar Interior de Seto, ofreciendo vistas panorámicas inolvidables. Son 70 km de ruta casi libre de coches, dedicada exclusivamente a peatones y ciclistas. Es una aventura más accesible y de menor impacto físico, pero igualmente impresionante.
                    </p>

                    <h3>
                        Cañonismo y Rápidos (Minakami, Gunma)
                    </h3>

                    <p>
                        Debido a la alta pluviosidad, Japón tiene ríos perfectos para el rafting y el barranquismo (canyoning). La región de Minakami es la capital de los deportes acuáticos en el centro de Honshu, con ríos que ofrecen rápidos de clase IV durante el deshielo de primavera. El barranquismo permite deslizarse por toboganes naturales de roca y saltar a pozas de agua cristalina.
                    </p>
               
            </div>


            <p id="resumenfinal">
                Japón es un país que honra tanto la tradición como la naturaleza indomable. Si estás listo para dejar atrás el neón y abrazar la niebla de la montaña y la sal del mar, te espera la aventura de tu vida.
            </p>
        </section>
        </div>
    </div>


    <PieArticulo />

</LayoutNoBarra>
   
<style>

    .contenerarticulo {
        max-width: 900px;
        margin: 0 auto;
        padding-left: 1%; 
        box-sizing: border-box;
        padding-top: 5%;
    }

    #articulogrid {
        display: grid;
        grid-template-columns: 1fr repeat(5, minmax(100px, 140px)) 1fr;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #000000;
        padding-top: 20px;
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        margin-top: 0;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: #CC0000;
        margin-top: 30px;
       
    }

    h3 {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: #CC0000;
        margin-top: 30px;
    }

    h4{
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: #CC0000;
        margin-top: 30px;
    }

    p {
        margin-bottom: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    ul {
        list-style-type: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 0;
        margin-bottom: 1.5em;
    }

    li {
        margin-bottom: 0.5em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        padding-left: 15px;
    }


    li::before {
        content: '•';
        color: #CC0000;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

#fotos{
	padding-top: 50%;
	grid-column: 1/8;
}

swiper-container {
      width: 100%;
      height: 400px;
    }

    swiper-slide {
      font-size: 18px;
      display: grid;
      grid-template-columns: repeat(12,1fr);
      grid-template-rows: repeat(12,1fr);
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

	.mySwiper swiper-slide {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .mySwiper swiper-slide-active {
        opacity: 1;
    }


	.portada {
        grid-column: 1/13;
        grid-row: 1/13;
    }

    #introduccion {
        grid-column: 2 / 7;
        grid-area: intro;
        border-bottom: 2px solid #CC0000;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }

    .secciontextoimagen {
        grid-column: 2 / 7;
        grid-area: seccion1;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        margin-bottom: 40px;
    }

    .secciontextoimagen .seccioncontenido {
        grid-column: 1;
    }

    .secciontextoimagen .seccionimagen {
        grid-column: 2;
        padding-top: 50px;
    }

    .secciontextoimagen img {
        width: 100%;
        height: auto;
        display: block;
    }

    .seccioncentrado {
        grid-column: 2 / 7;
        grid-area: seccion2;
        text-align: left;
        margin-bottom: 40px;
    }
    
    .seccioncentrado h2 {
        text-align: left;
        color: #CC0000;
    }
    
    .centrado {
        text-align: left;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .imagencentrada {
        width: 40%;
        margin: 20px auto;
    }

    .imagencentrada img {
        width: 100%;
        height: auto;
    }

 
    .secciondoblecolumna {
        grid-column: 2 / 7;
        grid-area: doble;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        margin-bottom: 40px;
    }

    .secciondoblecolumna .columna-izquierda {
        grid-column: 1;
    }

    .secciondoblecolumna .columna-derecha {
        grid-column: 2;
        
    }

    .secciondoblecolumna img {
        width: 150%;
        height: auto;
        display: flex;
        margin-top: 50px;
    }


    .seccioninferior {
        grid-column: 2 / 7;
        grid-area: final;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        margin-bottom: 40px;
    }

    .seccioninferior .columnaizquierda,
    .seccioninferior .columnaderecha {
        grid-row: 1;
    }

    .imagenflotanteizquierda {
        float: left;
        width: 150px;
        height: auto;
        margin: 0 15px 15px 0;
    }
    
    #resumenfinal {
        grid-column: 1 / -1;
        text-align: center;
        font-style: italic;
        font-size: 1.1em;
        border-top: 1px solid #c41616;
        padding-top: 20px;
        margin-top: 40px;
    }


</style>
    
