---
import LayoutNoBarra from "../layouts/LayoutNoBarra.astro"
import Techo from "../components/Techo.astro"
import PieArticulo from "../components/PieArticulo.astro"
---

<LayoutNoBarra>
    <Techo/>

<div class="fotos">
    <swiper-container class="mySwiper" loop="true"
autoplay='{"delay": 3000, "disableOnInteraction": true}' effect="fade" 
crossfade="true">

    <swiper-slide>
        
        <div class="portada">
            <img src="../hak1.jpg" alt="Imagen 1 del carrusel">
        </div>
    </swiper-slide>

    <swiper-slide>
        
        <div class="portada">
            <img src="../hak2.jpg" alt="Imagen 2 del carrusel">
        </div>
    </swiper-slide>

    <swiper-slide>
        
        <div class="portada">
            <img src="../hak3.jpg" alt="Imagen 3 del carrusel">
        </div>
    </swiper-slide>

    <swiper-slide>
        
        <div class="portada">
            <img src="../hak4.jpg" alt="Imagen 4 del carrusel">
        </div>
    </swiper-slide>

    <swiper-slide>
        
        <div class="portada">
            <img src="../hak5.jpg" alt="Imagen 5 del carrusel">
        </div>
    </swiper-slide>
    
  </swiper-container>
</div>
<div class="contenedor-articulo">
    
    <div class="seccion-principal">

        <h1 class="titulo-principal-seccion">
            Hakone: El Mirador Perfecto del Monte Fuji y la Belleza Natural
        </h1>

        <p>
            Hakone, un pintoresco pueblo enclavado en las montañas de la prefectura de Kanagawa, es uno de los destinos más icónicos de Japón. Conocido por sus aguas termales (onsen), sus impresionantes vistas al Monte Fuji y su rica oferta cultural, Hakone es el lugar perfecto para experimentar la esencia de la tradición japonesa mientras te relajas en medio de la naturaleza.
        </p>

       
    </div>

    <div class="seccion-bloque-articulo">
        <h2 class="titulo-seccion-secundaria">
            Onsen: El Corazón de Hakone
        </h2>
        
        <div class="bloque-contenido-imagen">
            <div class="bloque-texto">
                
                <p>
                    Los onsen son el alma de Hakone. Gracias a su ubicación en una zona volcánica activa, el pueblo está repleto de manantiales naturales de aguas calientes ricas en minerales, conocidas por sus propiedades relajantes y terapéuticas.
                </p>
                
                <p>
                    Los visitantes pueden elegir entre una amplia variedad de experiencias: desde baños tradicionales en ryokan (posadas japonesas) hasta complejos modernos como Yunessun, donde puedes sumergirte en piscinas de vino, café o incluso sake.
                </p>

                <p>
                    Uno de los mayores atractivos son los rotenburo, baños al aire libre que permiten disfrutar de las aguas termales mientras te rodea un paisaje montañoso o un bosque de cedros. Algunos ryokan ofrecen baños privados con vistas exclusivas al Monte Fuji.
                </p>

                <p>
                    Dato Histórico: Hakone alcanzó el estatus de ciudad en 1889. Ya iniciado el siglo XX, tras la fusión con cinco ciudades y pueblos vecinos en septiembre de 1956, llegó a sus límites geográficos actuales.
                </p>
           
            </div>
            
            <div class="bloque-imagen">
                <img src="../hako1.jpg" alt="" /> 
            </div>
        </div>
        
    </div>

    <div class="seccion-bloque-articulo">
        
        <h2 class="titulo-seccion-secundaria">
            El Monte Fuji: Un Símbolo de Japón
        </h2>
       
        <p>
            El Monte Fuji, o Fujisan como lo llaman los japoneses, es mucho más que una montaña: es un símbolo cultural, espiritual y natural de Japón. Con sus 3,776 metros de altura, es el pico más alto del país y fue declarado Patrimonio de la Humanidad por la UNESCO en 2013. Su forma cónica casi perfecta, cubierta de nieve durante gran parte del año, ha inspirado a artistas, poetas y peregrinos durante siglos.
        </p>

        <h2>
            El Fuji desde Hakone.
        </h2>

        <p>
            En Hakone, el Fuji se convierte en el protagonista del paisaje. Desde varios puntos estratégicos, como el Lago Ashi o el teleférico de Hakone, puedes disfrutar de vistas impresionantes que cambian según la temporada. En primavera, el Fuji se enmarca con cerezos en flor; en verano, su silueta se recorta contra cielos despejados; en otoño, los colores cálidos de los árboles crean un contraste mágico; y en invierno, su cumbre nevada brilla bajo el sol.
        </p>
        
        <h2>
            Significado Espiritual y Escalada.
        </h2>

        <p>
            El Monte Fuji ha sido venerado desde tiempos antiguos como un lugar sagrado. En la religión sintoísta, se cree que la montaña está habitada por espíritus, y en el pasado, las mujeres tenían prohibido escalarla debido a su pureza espiritual. Hoy en día, miles de personas realizan el ascenso al Fuji cada año, no solo como un desafío físico, sino también como una experiencia espiritual. La temporada oficial de escalada es de julio a agosto, cuando el clima es más favorable.
        </p>

        <h2>
            Miradores Clave en Hakone:
        </h2>

        <p>
            Hakone ofrece algunos de los mejores miradores para admirar el Fuji. Desde el Lago Ashi, puedes tomar un crucero en barco y disfrutar de la vista de la montaña reflejada en las aguas tranquilas. El teleférico de Hakone te lleva a alturas impresionantes, donde el Fuji parece estar al alcance de la mano. Y si te animas a una caminata, el Monte Komagatake ofrece vistas panorámicas que te dejarán sin aliento.
        </p>


        <div class="bloque-imagen-full">
            <img src="../hako2.jpg" alt="" /> 
        </div>
    </div>

    <div class="contenedor-caja-roja">
        <div class="caja-info-roja">
            
            <h2 class="titulo-caja-roja">¿CÓMO LLEGAR?</h2>
            
            <p>
                Desde Tokio, puedes tomar el tren Romancecar desde la estación de Shinjuku (un viaje de 90 minutos) o el Shinkansen hasta Odawara y luego continuar con un tren local (aproximadamente 1 hora en total). Una vez en Hakone, el Hakone Free Pass te permite usar trenes, teleféricos, autobuses y barcos en toda la zona.
            </p>
        
        </div>
    </div>
    
    <div class="contenedor-pie-articulo">
        
        <p>
            Hakone es un respiro para el alma; un destino esencial donde la niebla se encuentra con la cumbre sagrada del Fuji, ofreciendo una paz termal y una belleza natural inigualable que encapsula la esencia más pura de Japón.
        </p>
    
    </div>

</div>
<PieArticulo />
</LayoutNoBarra>


<style>

#fotos{
    padding-top: 50%;
    grid-column: 1/8;
}

swiper-container {
    width: 100%;
    height: 400px;
}

swiper-slide {
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper swiper-slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.mySwiper swiper-slide-active {
    opacity: 1;
}


.portada {
    grid-column: 1/13;
    grid-row: 1/13;
}

h2 {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: #000000;
        margin-top: 30px;
       
    }

.contenedor-articulo {
    font-family: Verdana, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}


.titulo-principal-seccion {
    font-size: 40px;
    color: #cc0000;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.titulo-seccion-secundaria {
    font-size: 30px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}



.seccion-principal p, .bloque-texto p, .pie-seccion, .seccion-bloque-articulo p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #000000;
}


.bloque-contenido-imagen {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.bloque-texto {
    flex: 1;
}

.bloque-imagen {
    flex-basis: 350px;
    flex-shrink: 0;
}

.bloque-imagen img {
    width: 100%;
    height: auto;
    display: block;
}

.pie-seccion {
    font-style: italic;
    font-size: 0.9em;
    padding-bottom: 20px;
    border-bottom: 1px solid #c41616;
}



.bloque-imagen-full img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 15px;
}



.contenedor-caja-roja {
    
    margin-right: -111px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #cc0000;
    padding: 20px;
    text-align: center;
    border-style: dotted;
    border-top-left-radius: 40px; 
    border-bottom-left-radius: 40px;
}

.caja-info-roja {
    color: white;
}

.titulo-caja-roja {
    font-size: 35px;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

.caja-info-roja p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}


.contenedor-pie-articulo {
    text-align: center;
    padding: 30px 0;
}

.contenedor-pie-articulo p {
    font-size: 1.1em;
    font-style: italic;
    color: #000000;
}

</style>