---
import LayoutNoBarra from "../layouts/LayoutNoBarra.astro"
import Techo from "../components/Techo.astro"
import PieArticulo from "../components/PieArticulo.astro"
---

<LayoutNoBarra>
	<Techo/>
<div class="fotos">
	<swiper-container class="mySwiper" loop="true"
autoplay='{"delay": 3000, "disableOnInteraction": true}' effect="fade" 
crossfade="true">

    <swiper-slide>
        

        <div class="portada">
            <img src="../arboles1.jpg" alt="">
        </div>
    </swiper-slide>

    <swiper-slide>
          

        <div class="portada">
            <img src="../arboles2.jpg" alt="">
        </div>
    </swiper-slide>

    <swiper-slide>
         

        <div class="portada">
            <img src="../arboles3.jpg" alt="">
        </div>
    </swiper-slide>

	<swiper-slide>
         

        <div class="portada">
            <img src="../arboles4.jpg" alt="">
        </div>
    </swiper-slide>

	<swiper-slide>
         

        <div class="portada">
            <img src="../arboles5.jpg" alt="">
        </div>
    </swiper-slide>
    
  </swiper-container>
  </div>


    <div class="contenerarticulo">
        <section id="introduccion">
            <h1>Shinrin-Yoku: El Arte Japonés de Sanar en el Bosque</h1>
            <p>
                En la acelerada sociedad moderna, Japón ha redescubierto y promovido una práctica ancestral para combatir el estrés: el Shinrin-Yoku, que se traduce literalmente como "Baño de Bosque". Más que una simple caminata, es una inmersión consciente y sensorial en la atmósfera del bosque, un antídoto científicamente probado contra el ritmo frenético de la vida urbana.
            </p>
        </section>

        <section class="secciontextoimagen">
            <div class="seccioncontenido">
                <h2>I. Más que un Paseo: La Ciencia Detrás de la Calma</h2>
                <p>
                    El concepto fue desarrollado en la década de 1980 por la Agencia Forestal de Japón como una forma de promover los beneficios de los bosques. La diferencia crucial con el senderismo es la intencionalidad: no se trata de cubrir distancia o hacer ejercicio, sino de ralentizar y activar los cinco sentidos.
                </p>
                <p>
                    Los estudios han demostrado que el Shinrin-Yoku tiene efectos fisiológicos y psicológicos notables:
                </p>

                <ul>
                    <li>
                        Reduce el cortisol: Disminuye significativamente los niveles de la hormona del estrés.
                    </li>
                    <li>
                        Mejora el sistema inmune: El aire del bosque contiene fitoncidas, aceites esenciales liberados por los árboles, que aumentan las células Natural Killer (NK), cruciales para combatir infecciones.
                    </li>
       
                    <li>
                        Disminuye la presión arterial: Tiene un efecto calmante directo sobre el sistema cardiovascular.
                    </li>
                </ul>

               
            </div>
            
            <div class="seccionimagen">
                <img src="../bosque.jpg" alt="" />
            </div>
        </section>

       
        <section class="seccioncentrado">
            <h2>II. El Ritual del Baño de Bosque</h2>
            <p class="centrado">
                ¿Cómo se practica el Shinrin-Yoku? El principio es simple: abandona el teléfono y las prisas, y permite que el bosque entre en ti.
            </p>

            <h3>
                Pasos Clave para la Práctica:
            </h3>

            <p>
            1. Encuentra tu lugar: Elige un bosque o parque tranquilo, lejos del ruido.
            </p>

            <p>
            2. Ritmo Lento: Camina sin prisa, sin un destino. El objetivo es estar, no llegar.
            </p>

            <p>
            3. Conexión Sensorial:
            </p>

            <ul>
                    <li>
                        Vista: Observa el juego de luces entre las hojas (Komorebi).
                    </li>

                    <li>
                        Oído: Escucha el susurro del viento y el canto de los pájaros.
                    </li>
       
                    <li>
                        Olfato: Aspira el aroma de la tierra húmeda y las resinas.
                    </li>

                    <li>
                        Tacto: Toca la corteza de un árbol o las hojas.
                    </li>

                    <li>
                        Gusto: Bebe un té de hierbas al final del paseo, si es posible.
                    </li>
                </ul>



            <div class="imagencentrada">
                <img src="../bosque2.jpg" alt="" />
            </div>
            <p class="centrado">
                "El bosque no es solo un lugar de árboles, es un templo, un refugio y un maestro de la paciencia." — Cita anónima sobre el Shinrin-Yoku
            </p>

            <h2>III. Santuarios Naturales: Los Mejores Lugares en Japón</h2>
        </section>


        <section class="secciondoblecolumna">

            <div class="columnaizquierda">
                
                <p>
                    Japón cuenta con más de 60 Rutas de Shinrin-Yoku oficialmente certificadas, que son espacios estudiados para maximizar los beneficios terapéuticos.
                </p>
                <ul>
                    <li>
                       Bosque de Akasawa (Nagano): Conocido por sus majestuosos cipreses Kiso, es considerado el lugar de nacimiento del Shinrin-Yoku.
                    </li>
                    <li>
                       Bosque de Akiyoshidai (Yamaguchi): Un paisaje único de mesetas kársticas rodeadas de árboles.
                    </li>
                    <li>
                       Caminos de Kumano Kodo: Aunque son rutas de peregrinación, sus densos bosques permiten una inmersión espiritual profunda.
                    </li>
                </ul>
            </div>

            <div class="columnaderecha">
                <img src="../bosque3.jpg" alt="" />
            </div>
        </section>
        

        <section class="seccioninferior">



            <p id="resumenfinal">
                El Shinrin-Yoku no requiere viajar a Japón, pero el profundo respeto de la cultura japonesa por la naturaleza hace que sus bosques sean el escenario perfecto. Es una simple pero poderosa invitación a la salud, a reconectar con lo esencial y a recordar que formamos parte de un ecosistema más grande.
            </p>
        </section>
        </div>
    </div>


    <PieArticulo />

</LayoutNoBarra>
   
<style>

    .contenerarticulo {
        max-width: 900px;
        margin: 0 auto;
        padding-left: 1%; 
        box-sizing: border-box;
        padding-top: 5%;
    }

    #articulogrid {
        display: grid;
        grid-template-columns: 1fr repeat(5, minmax(100px, 140px)) 1fr;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #000000;
        padding-top: 20px;
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        margin-top: 0;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: #CC0000;
        margin-top: 30px;
       
    }

    h3 {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: #CC0000;
        margin-top: 30px;
    }

    p {
        margin-bottom: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    ul {
        list-style-type: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 0;
        margin-bottom: 1.5em;
    }

    li {
        margin-bottom: 0.5em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        padding-left: 15px;
    }


    li::before {
        content: '•';
        color: #CC0000;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

#fotos{
	padding-top: 50%;
	grid-column: 1/8;
}

swiper-container {
      width: 100%;
      height: 400px;
    }

    swiper-slide {
      font-size: 18px;
      display: grid;
      grid-template-columns: repeat(12,1fr);
      grid-template-rows: repeat(12,1fr);
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

	.mySwiper swiper-slide {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .mySwiper swiper-slide-active {
        opacity: 1;
    }


	.portada {
        grid-column: 1/13;
        grid-row: 1/13;
    }

    #introduccion {
        grid-column: 2 / 7;
        grid-area: intro;
        border-bottom: 2px solid #CC0000;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }

    .secciontextoimagen {
        grid-column: 2 / 7;
        grid-area: seccion1;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        margin-bottom: 40px;
    }

    .secciontextoimagen .seccioncontenido {
        grid-column: 1;
    }

    .secciontextoimagen .seccionimagen {
        grid-column: 2;
        padding-top: 50px;
    }

    .secciontextoimagen img {
        width: 100%;
        height: auto;
        display: block;
    }

    .seccioncentrado {
        grid-column: 2 / 7;
        grid-area: seccion2;
        text-align: left;
        margin-bottom: 40px;
    }
    
    .seccioncentrado h2 {
        text-align: left;
        color: #CC0000;
    }
    
    .centrado {
        text-align: left;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .imagencentrada {
        width: 100%;
        margin: 20px auto;
    }

    .imagencentrada img {
        width: 100%;
        height: auto;
    }

 
    .secciondoblecolumna {
        grid-column: 2 / 7;
        grid-area: doble;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        margin-bottom: 40px;
    }

    .secciondoblecolumna .columna-izquierda {
        grid-column: 1;
    }

    .secciondoblecolumna .columna-derecha {
        grid-column: 2;
    }

    .secciondoblecolumna img {
        width: 150%;
        height: auto;
        display: flex;
        
    }


    .seccioninferior {
        grid-column: 2 / 7;
        grid-area: final;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        margin-bottom: 40px;
    }

    .seccioninferior .columnaizquierda,
    .seccioninferior .columnaderecha {
        grid-row: 1;
    }

    
    #resumenfinal {
        grid-column: 1 / -1;
        text-align: center;
        font-style: italic;
        font-size: 1.1em;
        border-top: 1px solid #c41616;
        padding-top: 20px;
        margin-top: 40px;
    }


</style>
    
