---
import LayoutNoBarra from "../layouts/LayoutNoBarra.astro"
import Techo from "../components/Techo.astro"
import PieArticulo from "../components/PieArticulo.astro"
---

<LayoutNoBarra>
	<Techo/>
<div class="fotos">
	<swiper-container class="mySwiper" loop="true"
autoplay='{"delay": 3000, "disableOnInteraction": true}' effect="fade" 
crossfade="true">

    <swiper-slide>
        

        <div class="portada">
            <img src="../tradicion1.jpg" alt="">
        </div>
    </swiper-slide>

    <swiper-slide>
          

        <div class="portada">
            <img src="../tradicion2.jpg" alt="">
        </div>
    </swiper-slide>

    <swiper-slide>
         

        <div class="portada">
            <img src="../tradicion3.jpg" alt="">
        </div>
    </swiper-slide>

	<swiper-slide>
         

        <div class="portada">
            <img src="../tradicion4.jpg" alt="">
        </div>
    </swiper-slide>

	<swiper-slide>
         

        <div class="portada">
            <img src="../tradicion5.jpg" alt="">
        </div>
    </swiper-slide>
    
  </swiper-container>
  </div>


    <div class="contenerarticulo">
        <section id="introduccion">
            <h1>La Esencia Inmutable: Un Viaje a Través de las Tradiciones de Japón.</h1>
            <p>
                La tradición japonesa es una inmersión en la cortesía y la reflexión. Cada saludo, cada comida y cada visita a un templo están cargados de un significado profundo. Descubre la cultura que ha perdurado por siglos.
            </p>
        </section>

        <section class="secciontextoimagen">
            <div class="seccioncontenido">
                <h2>I. La Espiritualidad y el Arte del Encuentro: Shintoismo y Budismo</h2>
                <p>
                    La tradición japonesa se asienta sobre dos pilares espirituales que conviven en armonía: el Shintoismo, la vía de los dioses, y el Budismo, introducido desde China en el siglo VI.
                </p>
                <p>
                    El Shintoismo se centra en la adoración de los kami (dioses o espíritus de la naturaleza). La creencia es que los kami residen en elementos naturales como árboles, montañas, ríos y rocas. Los templos Shinto, marcados por el portal Torii, son lugares de purificación y celebración de la vida.
                </p>
                <p>
                    El Budismo, por otro lado, se enfoca en la iluminación y el ciclo de reencarnación. Sus templos, con pagodas y estatuas de Buda, son espacios para la meditación y el recuerdo. La mayoría de los japoneses practican ambos, recurriendo al Shintoismo para bodas y al Budismo para funerales, un ejemplo de su sincretismo cultural.
                </p>
            </div>
            
            <div class="seccionimagen">
                <img src="../templo.jpg" alt="" />
            </div>
        </section>

       
        <section class="seccioncentrado">
            <h2>II. El Arte de la Hospitalidad: Omotenashi</h2>
            <p class="centrado">
                El valor japonés de la hospitalidad, conocido como Omotenashi, va más allá del simple servicio. Es una forma de atención que se anticipa a las necesidades del huésped sin esperar nada a cambio.
            </p>

            <div class="imagencentrada">
                <img src="../vieja.jpg" alt="" />
            </div>
            <p class="centrado">
                El Omotenashi se manifiesta en la perfección del servicio, desde una ceremonia del té hasta un viaje en tren. Es la dedicación al detalle: desde la forma en que se dobla una servilleta, hasta la reverencia sincera al despedir a un cliente. Es un reflejo de la profunda ética de respeto y consideración que impregna la vida cotidiana japonesa.
            </p>

            <h2>III. La Tradición en la Vestimenta: Kimono y Yukata</h2>
        </section>


        <section class="secciondoblecolumna">

            <div class="columnaizquierda">
                
                <p>
                    La vestimenta tradicional de Japón es quizás su símbolo cultural más reconocible en occidente.
                </p>
                <ul>
                    <li>
                        El Kimono es la prenda formal. Se usa en bodas, ceremonias del té y festivales. Está hecho de seda y requiere un complejo proceso de vestimenta, a menudo con la ayuda de un experto.
                    </li>
                    <li>
                        El Yukata es la versión más casual y ligera, hecha de algodón. Es la prenda que se usa en verano, en fiestas de fuegos artificiales (Hanabi) y en los ryokan (posadas tradicionales) después de un baño termal (Onsen).
                    </li>
                </ul>
            </div>

            <div class="columnaderecha">
                <img src="../traje.jpg" alt="" />
            </div>
        </section>
        

        <section class="seccioninferior">

            <div class="columnaizquierda">
                <img src="../sol.jpg" alt="" class="imagenflotanteizquierda" />
                <h2>IV. El Significado Oculto de las Artes Marciales</h2>
                <p>
                    Las artes marciales japonesas, como el Kendo, el Karate y el Judo, no son solo deportes de combate, sino disciplinas que buscan la perfección del carácter.
                </p>
                <ul>
                    <li>
                        "Dō (道)": Significa "camino" o "vía". Todas las artes terminadas en "-dō" (Judo, Kendo, Aikido) enfatizan la formación moral y espiritual sobre la técnica física.
                    </li>
                    <li>
                        Reverencia y Respeto: Antes y después de cada práctica, se realiza una reverencia hacia el oponente y el maestro, subrayando el respeto mutuo.
                    </li>
                </ul>
            </div>


            <div class="columnaderecha">
                <p>
                    La maestría en estas disciplinas se mide por el nivel de autocontrol, humildad y disciplina que el practicante alcanza, no solo por la victoria en la lucha. Las artes marciales son, en esencia, una meditación en movimiento.
                </p>
            </div>


            <p id="resumenfinal">
                La tradición japonesa es una inmersión en la cortesía y la reflexión. Cada saludo, cada comida y cada visita a un templo están cargados de un significado profundo.
            </p>
        </section>
        </div>
    </div>


    <PieArticulo />

</LayoutNoBarra>
   
<style>

    .contenerarticulo {
        max-width: 900px;
        margin: 0 auto;
        padding-left: 1%; 
        box-sizing: border-box;
        padding-top: 5%;
    }

    #articulogrid {
        display: grid;
        grid-template-columns: 1fr repeat(5, minmax(100px, 140px)) 1fr;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #000000;
        padding-top: 20px;
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        margin-top: 0;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: #CC0000;
        margin-top: 30px;
       
    }

    p {
        margin-bottom: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    ul {
        list-style-type: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 0;
        margin-bottom: 1.5em;
    }

    li {
        margin-bottom: 0.5em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        padding-left: 15px;
    }


    li::before {
        content: '•';
        color: #CC0000;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

#fotos{
	padding-top: 50%;
	grid-column: 1/8;
}

swiper-container {
      width: 100%;
      height: 400px;
    }

    swiper-slide {
      font-size: 18px;
      display: grid;
      grid-template-columns: repeat(12,1fr);
      grid-template-rows: repeat(12,1fr);
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

	.mySwiper swiper-slide {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .mySwiper swiper-slide-active {
        opacity: 1;
    }


	.portada {
        grid-column: 1/13;
        grid-row: 1/13;
    }

    #introduccion {
        grid-column: 2 / 7;
        grid-area: intro;
        border-bottom: 2px solid #CC0000;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }

    .secciontextoimagen {
        grid-column: 2 / 7;
        grid-area: seccion1;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        margin-bottom: 40px;
    }

    .secciontextoimagen .seccioncontenido {
        grid-column: 1;
    }

    .secciontextoimagen .seccionimagen {
        grid-column: 2;
        padding-top: 50px;
    }

    .secciontextoimagen img {
        width: 100%;
        height: auto;
        display: block;
    }

    .seccioncentrado {
        grid-column: 2 / 7;
        grid-area: seccion2;
        text-align: left;
        margin-bottom: 40px;
    }
    
    .seccioncentrado h2 {
        text-align: left;
        color: #CC0000;
    }
    
    .centrado {
        text-align: left;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .imagencentrada {
        width: 40%;
        margin: 20px auto;
    }

    .imagencentrada img {
        width: 100%;
        height: auto;
    }

 
    .secciondoblecolumna {
        grid-column: 2 / 7;
        grid-area: doble;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        margin-bottom: 40px;
    }

    .secciondoblecolumna .columna-izquierda {
        grid-column: 1;
    }

    .secciondoblecolumna .columna-derecha {
        grid-column: 2;
    }

    .secciondoblecolumna img {
        width: 150%;
        height: auto;
        display: flex;
        margin-top: 50px;
    }


    .seccioninferior {
        grid-column: 2 / 7;
        grid-area: final;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        margin-bottom: 40px;
    }

    .seccioninferior .columnaizquierda,
    .seccioninferior .columnaderecha {
        grid-row: 1;
    }

    .imagenflotanteizquierda {
        float: left;
        width: 150px;
        height: auto;
        margin: 0 15px 15px 0;
    }
    
    #resumenfinal {
        grid-column: 1 / -1;
        text-align: center;
        font-style: italic;
        font-size: 1.1em;
        border-top: 1px solid #c41616;
        padding-top: 20px;
        margin-top: 40px;
    }


</style>
    
