---
import LayoutNoBarra from "../layouts/LayoutNoBarra.astro"
import Techo from "../components/Techo.astro"
import PieArticulo from "../components/PieArticulo.astro"
---

<LayoutNoBarra>
    <Techo/>

<div class="fotos">
    <swiper-container class="mySwiper" loop="true"
autoplay='{"delay": 3000, "disableOnInteraction": true}' effect="fade" 
crossfade="true">

    <swiper-slide>
        
        <div class="portada">
            <img src="../ura1.jpg" alt="Imagen 1 del carrusel">
        </div>
    </swiper-slide>

    <swiper-slide>
        
        <div class="portada">
            <img src="../ura2.jpg" alt="Imagen 2 del carrusel">
        </div>
    </swiper-slide>

    <swiper-slide>
        
        <div class="portada">
            <img src="../ura3.jpg" alt="Imagen 3 del carrusel">
        </div>
    </swiper-slide>

    <swiper-slide>
        
        <div class="portada">
            <img src="../ura4.jpg" alt="Imagen 4 del carrusel">
        </div>
    </swiper-slide>

    <swiper-slide>
        
        <div class="portada">
            <img src="../ura5.jpg" alt="Imagen 5 del carrusel">
        </div>
    </swiper-slide>
    
  </swiper-container>
</div>
<div class="contenedor-articulo">
    
    <div class="seccion-principal">

        <h1 class="titulo-principal-seccion">
            Urayasu: La Puerta de Entrada a la Magia de Tokyo Disney
        </h1>

        <p>
            Urayasu es una ciudad localizada en Chiba, Japón. A partir de 2008, la ciudad tenía una población de 159,312 habitantes y una densidad de 9,210 personas por km². Su superficie total es de 17.29 km². La ciudad fue fundada el 1 de abril de 1981.
        </p>

        <p>
            La ciudad es más conocida por ser la sede de Tokyo Disney Resort (que incluye Tokyo Disneyland, Tokyo DisneySea e Ikspiari), el cual abrió sus puertas en 1983, y por ser la sede de The Oriental Land Company, coordinadora de los eventos de Tokyo Disney Resort.
        </p>

       
    </div>

    <div class="seccion-bloque-articulo">
        <h2 class="titulo-seccion-secundaria">
            Tokyo Disneyland
        </h2>
        
        <div class="bloque-contenido-imagen">
            <div class="bloque-texto">
                
                <p>
                    Tokyo Disneyland es uno de los dos parques temáticos que forman parte del Tokyo Disney Resort. Es el primer parque de Disney que fue construido fuera de los Estados Unidos y fue inaugurado el 15 de abril de 1983. Este parque se encuentra ubicado en la ciudad de Urayasu, en la prefectura de Chiba.
                </p>
                
                <p>
                    El parque fue construido por Walt Disney Imagineering con el mismo estilo del parque de California (Disneyland) y el de Florida (Magic Kingdom). Lo coordina la Oriental Land Company, bajo licencia de The Walt Disney Company. Junto con su parque vecino, Tokyo DisneySea, es el único parque de Disney que no es dirigido directamente por The Walt Disney Company.
                </p>

                <p>
                    Hay siete áreas en el complejo, y cada una refleja un estilo diferente. Se compone de: Bazaar World, las cuatro áreas clásicas de Disney (Adventureland, Westernland, Fantasyland y Tomorrowland), y dos mini áreas (Critter Country y Toontown de Mickey). El parque está diseñado para que sus espacios puedan ser utilizados eficientemente por la gran cantidad de personas que lo visitan día a día.
                </p>

                <p>
                    Hasta hace unos años, Tokyo Disneyland era el parque temático más visitado del mundo, siendo su vecino Tokyo DisneySea el segundo. Con solamente algunas excepciones, Tokyo Disneyland posee atracciones similares a las encontradas en Disneyland Park y Magic Kingdom de Walt Disney World Resort.
                </p>
           
            </div>
            
            <div class="bloque-imagen">
                <img src="../urayasu1.jpg" alt="" /> 
            </div>
        </div>
        
    </div>

    <div class="seccion-bloque-articulo">
        
        <h2 class="titulo-seccion-secundaria">
            Tokyo DisneySea
        </h2>
       
        <p>
            Tokyo DisneySea es un parque temático y acuático de 71 hectáreas situado en Urayasu, Chiba, Japón, y forma parte de Tokyo Disney Resort. Abrió sus puertas el 4 de septiembre de 2001. Es coordinado por la Oriental Land Company, con una licencia de The Walt Disney Company.
        </p>

        <p>
            Fue el segundo parque temático en abrirse de Tokyo Disney Resort, y el noveno en abrirse de los doce que existen en el mundo. Es también el parque temático más caro del mundo; se estima que su construcción costó más de 4.5 mil millones de dólares estadounidenses, aunque el precio real se mantiene en secreto.
        </p>

        <p>
            En 2007, Tokyo DisneySea celebró su quinto aniversario y estrenó nuevas atracciones, entre las cuales se cuentan Mythica Legend y The Tower of Terror. Actualmente, Tokyo DisneySea es uno de los parques de Disney más visitados del mundo.
        </p>
        
        <div class="bloque-imagen-full">
            <img src="../urayasu2.jpg" alt="" /> 
        </div>
    </div>

    <div class="contenedor-caja-roja">
        <div class="caja-info-roja">
            
            <h2 class="titulo-caja-roja">¿CÓMO LLEGAR?</h2>
            
            <p>
                Partiendo desde la Estación de Tokio, tienes que tomar la línea Keiyo, operada por la empresa JR. Esta línea tiene una parada en la estación JR Maihama, que es la estación de Tokyo Disneyland. Para que lo tengas en cuenta, partiendo desde la Estación de Tokio, la de Maihama es la sexta parada.
            </p>
        
        </div>
    </div>
    
    <div class="contenedor-pie-articulo">
        
        <p>
            Urayasu es el destino donde la realidad se desvanece; la puerta de entrada a un reino donde la ingeniería de la ilusión y el encanto atemporal de la fantasía crean una experiencia mágica e inolvidable.
        </p>
    
    </div>

</div>
<PieArticulo />
</LayoutNoBarra>


<style>

#fotos{
    padding-top: 50%;
    grid-column: 1/8;
}

swiper-container {
    width: 100%;
    height: 400px;
}

swiper-slide {
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper swiper-slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.mySwiper swiper-slide-active {
    opacity: 1;
}


.portada {
    grid-column: 1/13;
    grid-row: 1/13;
}


.contenedor-articulo {
    font-family: Verdana, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}


.titulo-principal-seccion {
    font-size: 40px;
    color: #cc0000;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.titulo-seccion-secundaria {
    font-size: 30px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}



.seccion-principal p, .bloque-texto p, .pie-seccion, .seccion-bloque-articulo p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #000000;
}


.bloque-contenido-imagen {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.bloque-texto {
    flex: 1;
}

.bloque-imagen {
    flex-basis: 350px;
    flex-shrink: 0;
}

.bloque-imagen img {
    width: 100%;
    height: auto;
    display: block;
}

.pie-seccion {
    font-style: italic;
    font-size: 0.9em;
    padding-bottom: 20px;
    border-bottom: 1px solid #c41616;
}



.bloque-imagen-full img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 15px;
}



.contenedor-caja-roja {
    
    margin-right: -111px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #cc0000;
    padding: 20px;
    text-align: center;
    border-style: dotted;
    border-top-left-radius: 40px; 
    border-bottom-left-radius: 40px;
}

.caja-info-roja {
    color: white;
}

.titulo-caja-roja {
    font-size: 35px;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

.caja-info-roja p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}


.contenedor-pie-articulo {
    text-align: center;
    padding: 30px 0;
}

.contenedor-pie-articulo p {
    font-size: 1.1em;
    font-style: italic;
    color: #000000;
}

</style>