---

---

<div id="piepagina">

    <div class="logo">
        <div class="logopie">
            <img src="/logopie.svg" alt="">
        </div>
        
        <p>Copyright © Japan National Tourism Organization. Todos los derechos reservados.</p>
        
        <div class="jnto"> 
            <img src="/jnto.png" alt="">
        </div>
    </div>
</div>

<style>
    #piepagina {
        grid-column: 1 / -1;
        width: 100%;
        background-color: #CC0000;
        color: white;
        padding: 20px 0;
        margin-top: 50px;
    }

    .logo {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, sans-serif;
        font-size: 10px;
        text-align: center;
        gap: 20px;
    }

    .logo p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        flex-grow: 1;
        margin: 0;
    }

    .logopie img {
        height: 50px;
    }

    .jnto img {
        height: 50px;
    }

</style>